.navbar{
    font-size: large;
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 7px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(12, 8, 8, 0.2);
    padding: 2px 36px;
    border-radius: 10px;
   margin: 20px ;
   background-color: rgb(233, 217, 211);
}

.search-card{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: 20px ;
    margin-bottom: 40px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(36, 2, 2, 0.2);
}

.lyric-button{
    background-color: rgb(15, 15, 20);
    display: block;
    color: white;
    font-size: large;
    padding: 6px;
    text-align: center;
    margin: 4px;
    border-radius: 10px;
}

.goback{
    background-color: rgb(49, 19, 119);
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: large;
}