@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@400;500&display=swap');

.navbar{
    font-size: xx-large;
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 7px;
    font-family: 'Bebas Neue', cursive;
}

.info{
    font: xx-small;
   
    font-family: 'Cabin', sans-serif;
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 7px;
}

.search-card{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 20px ;
    margin-bottom: 40px;
    font-family: 'Bebas Neue', cursive;
}

.search-input{
    display: inline-block;
    margin: 10px;
    padding: 8px;
    width:50%;
    margin-bottom: 20px;
    border-radius:10px;
     font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: medium;
}
.search-button{
    width:30%;
    background-color: #008CBA;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', cursive;
}

.search-button:hover{
    background-color:#055975;
}

.heading{
    text-align: center;
    font-family: 'Bebas Neue', cursive;;
}
.track-card{
    box-shadow: 0 4px 8px 0 rgba(12, 8, 8, 0.2);
    padding: 2px 36px;
    border-radius: 10px;
   margin: 20px ;
   margin-bottom:30px;
   background-color: rgb(178, 198, 235);
   font-family: 'Cabin', sans-serif;;
}
.track-card:hover {
    box-shadow: 0 8px 16px 0 rgba(36, 2, 2, 0.2);
}

.track-lyric-button{
    background-color: rgb(15, 15, 20);
    display: block;
    color: white;
    font-size: large;
    padding: 10px;
    text-align: center;
    margin: 4px;
    margin-bottom:10px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 10px;
}

.track-lyric-button:hover{
    background-color: darkcyan;
}

.goback{
    background-color: #5f0813;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: large;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
   
}

.goback:hover{
    background-color: crimson;
   
}

.lyrics-card{
    display: block;
    background-color: rgb(178, 198, 235);
    color: rgb(5, 5, 5);
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.lyrics-card-header{
    border: 1px solid black;
    text-align: center;
    font-size: large;
    margin: 6px;
    padding:10px;
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(17, 55, 61);
    border-radius: 10px;;
    color:white;
}


.lyrics-card-body{
    font-family: 'Cabin', sans-serif;
    padding:10px;
}

.lyrics-info{
    background-color: rgb(178, 198, 235);
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding:14px;
    margin-top: 30px;
    border-radius: 10px;
    list-style-type: none;
    font-size: x-large;
}